In [2]:
import math
import time
import numpy as np
import json
import glob
import warnings
import requests

import matplotlib.pyplot as plt
import seaborn as sns

import pandas as pd
import geopandas as gpd
pd.set_option('display.max_columns', None)


import datetime

# Import der Daten

In [17]:
# import required module
import os
# assign directory
directory = '../data/DatenSisag/Verkehrsdaten/Rohdaten Auswertungfiles xls/all'
dflist = {}
messstelle = ""

# iterate over files in
# that directory
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    # checking if it is a file
    if os.path.isfile(f):
        print(f)
        if filename.startswith("ok_") :
            messstelle =  filename[3:7]
        else:
            messstelle = filename[0:3]
        dflist[messstelle]=pd.read_excel(f)
        break

../data/DatenSisag/Verkehrsdaten/Rohdaten Auswertungfiles xls/all\5401_2022.xlsx

# Datumszeile erstellen

In [5]:
df1.HHMM = df1.HHMM / 100
df1['HHMM']=df1['HHMM'].replace(24.0,0.0)
df1.head(100)
df1['Datum und Zeit'] = df1["Datum"].astype(str)+ ' ' +df1.HHMM.astype(str)
df1['Datumszeit'] = pd.to_datetime(df1['Datum und Zeit'], format='%Y-%m-%d %H.%M')

In [6]:
df1

,Zst,Datum,HHMM,Richtung,-,Klasse,CS 1,CS 2,CS 3,CS 4,CS 5,CS 6,CS 7,CS 8,CS 9,CS10,Day Helper,Month Helper,Querschnitt,Wochenende/Feirtag,Datum und Zeit,Datumszeit
0,6009,2022-01-01,1.0,1,0,1,0,18,0,0,NaN,NaN,NaN,NaN,NaN,NaN,7,1,NaN,x,2022-01-01 1.0,2022-01-01 01:00:00
1,6009,2022-01-01,1.0,1,0,2,0,0,18,0,0.0,0.0,0.0,0.0,0.0,0.0,7,1,18.0,x,2022-01-01 1.0,2022-01-01 01:00:00
2,6009,2022-01-01,1.0,2,0,1,0,21,0,0,NaN,NaN,NaN,NaN,NaN,NaN,7,1,NaN,x,2022-01-01 1.0,2022-01-01 01:00:00
3,6009,2022-01-01,1.0,2,0,2,0,0,21,0,0.0,0.0,0.0,0.0,0.0,0.0,7,1,21.0,x,2022-01-01 1.0,2022-01-01 01:00:00
4,6009,2022-01-01,2.0,1,0,1,1,38,0,0,NaN,NaN,NaN,NaN,NaN,NaN,7,1,NaN,x,2022-01-01 2.0,2022-01-01 02:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35031,6009,2022-12-31,23.0,2,0,2,0,1,26,0,0.0,0.0,0.0,0.0,0.0,0.0,7,12,27.0,x,2022-12-31 23.0,2022-12-31 23:00:00
35032,6009,2022-12-31,0.0,1,0,1,1,22,0,0,NaN,NaN,NaN,NaN,NaN,NaN,7,12,NaN,x,2022-12-31 0.0,2022-12-31 00:00:00
35033,6009,2022-12-31,0.0,1,0,2,0,1,22,0,0.0,0.0,0.0,0.0,0.0,0.0,7,12,23.0,x,2022-12-31 0.0,2022-12-31 00:00:00
35034,6009,2022-12-31,0.0,2,0,1,0,14,0,0,NaN,NaN,NaN,NaN,NaN,NaN,7,12,NaN,x,2022-12-31 0.0,2022-12-31 00:00:00
35035,6009,2022-12-31,0.0,2,0,2,0,0,14,0,0.0,0.0,0.0,0.0,0.0,0.0,7,12,14.0,x,2022-12-31 0.0,2022-12-31 00:00:00